<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="my.project.cryptoExchange.Activator"
               id="my.project.cryptoExchange"
	       name="cryptoExchange">
    </component>
  </extension>
</plugin>
